In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('homeprices_banglore.csv')
df.head()

   area  bedrooms   price
0  1056         2   39.07
1  2600         4  120.00
2  1440         3   62.00
3  1521         3   75.00
4  1200         2   51.00

In [3]:
from sklearn import preprocessing
dfscale = preprocessing.MinMaxScaler()
dfs = dfscale.fit_transform(df)

In [6]:
dfs

array([[0.08827586, 0.25      , 0.05237037],
       [0.62068966, 0.75      , 0.65185185],
       [0.22068966, 0.5       , 0.22222222],
       [0.24862069, 0.5       , 0.31851852],
       [0.13793103, 0.25      , 0.14074074],
       [0.12758621, 0.25      , 0.04444444],
       [0.6662069 , 0.75      , 0.76296296],
       [0.86206897, 0.75      , 0.91111111],
       [0.17586207, 0.5       , 0.13333333],
       [1.        , 1.        , 1.        ],
       [0.34482759, 0.5       , 0.37037037],
       [0.68448276, 0.75      , 0.8       ],
       [0.06896552, 0.25      , 0.04444444],
       [0.10344828, 0.25      , 0.05925926],
       [0.5       , 0.5       , 0.51111111],
       [0.12931034, 0.25      , 0.07407407],
       [0.13103448, 0.5       , 0.11851852],
       [0.25517241, 0.5       , 0.20740741],
       [0.67931034, 0.5       , 0.51851852],
       [0.        , 0.        , 0.        ]])

In [9]:
scaledx = dfs[:,:2]

In [10]:
scaledx.shape

(20, 2)

In [11]:
scaledy = dfs[:,-1]

In [14]:
scaledy.shape

(20,)

In [16]:
scaledy

array([0.05237037, 0.65185185, 0.22222222, 0.31851852, 0.14074074,
       0.04444444, 0.76296296, 0.91111111, 0.13333333, 1.        ,
       0.37037037, 0.8       , 0.04444444, 0.05925926, 0.51111111,
       0.07407407, 0.11851852, 0.20740741, 0.51851852, 0.        ])

In [17]:
scaledx.shape[1]

2

In [32]:
import random
random.randint(0,scaledx.shape[0])

9

In [45]:
def mini_bgd(x,y,learn_rate=0.5, epochs=500, batch_size=5):
    
    samples=x.shape[0]
    features = x.shape[1]
    
    w = np.ones(shape=(features))
    b = 0
    
    no_batch = samples//batch_size
    
    for i in range(epochs):
        
        for n in range(no_batch):
            batch_item=np.array([])
            for item in range(batch_size):

                rindex = random.randint(0,samples-1)
                sample_x = x[rindex]
                sample_y = y[rindex]
                np.append(batch_item,sample_x)
                

            y_predicted = np.dot(w, batch_item.T) + b

            w_grad = -(2/samples)*(batch_item.T.dot(y-y_predicted))
            b_grad = -(2/samples)*np.sum(y-y_predicted)

            w = w- learn_rate*w_grad
            b = b- learn_rate*b_grad
            
            cost = np.mean(np.square(y-y_predicted))
            
    return w, b , cost

In [46]:
w,b,cost = mini_bgd(scaledx,scaledy)

ValueError: shapes (2,) and (0,) not aligned: 2 (dim 0) != 0 (dim 0)