In [4]:
import pandas as pd

In [28]:
df = pd.read_csv('diabetes.csv')

In [29]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [30]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [32]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [33]:
df.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [34]:
268/500

0.536

In [35]:
X = df.drop('Outcome',axis=1)
y = df.Outcome

In [38]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

scaler = StandardScaler()
X_scale = scaler.fit_transform(X)

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X_scale, y, test_size=0.33,stratify=y, random_state=42)

In [40]:
y_train.value_counts()

0    335
1    179
Name: Outcome, dtype: int64

In [41]:
179/335

0.5343283582089552

In [47]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [48]:
scores = cross_val_score(DecisionTreeClassifier(),X,y,cv=5)
scores

array([0.68181818, 0.63636364, 0.65584416, 0.79738562, 0.74509804])

In [49]:
scores.mean()

0.7033019268313386

In [50]:
from sklearn.ensemble import BaggingClassifier

In [52]:
bag_model = BaggingClassifier(
                base_estimator=DecisionTreeClassifier(),
                n_estimators = 100,
                max_samples= 0.67,
                oob_score= True,random_state=10,
)

bag_model.fit(X_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), max_samples=0.67,
                  n_estimators=100, oob_score=True, random_state=10)

In [53]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(bag_model,X,y,cv = 5)
score

array([0.74025974, 0.74675325, 0.75974026, 0.81045752, 0.75816993])

In [61]:
bag_model.oob_score_

0.7607003891050583

In [66]:
print(bag_model.score(X_test,y_test))

0.7519685039370079

In [58]:
from sklearn.ensemble import RandomForestClassifier
score = cross_val_score(RandomForestClassifier(n_estimators=50),X,y,cv=5)

In [59]:
score

array([0.76623377, 0.73376623, 0.77922078, 0.79738562, 0.77124183])

In [60]:
score.mean()

0.7695696460402341