# Fuction

In [1]:
def fname():
  print("Hello from a function")

fname()

Hello from a function

In [6]:
def f1(name,age):
    print(name,age)

f1("kausik", "32")

kausik 32

In [23]:
def f2(*kids):
    print("elderest one is ",kids[2])


f2("ketan", "jay","trupal")

# If you do not know how many arguments that will be passed into your function, 
# add a * before the parameter name in the function definition.

# This way the function will receive a tuple of arguments,
# and can access the items accordingly:

elderest one is  trupal

In [26]:
def f2(c1,c2,c3):
    print("elderest one is ",c2)


f2(c1="ketan",c2= "jay",c3="trupal")

# You can also send arguments with the key = value syntax.
# This way the order of the arguments does not matter

elderest one is  jay

In [29]:
def f2(**kids):
    print("elderest one is ",kids["c1"]) # provide key name in ""


f2(c1="ketan",c2= "jay",c3="trupal")

elderest one is  ketan

In [40]:
# default parameter value function
# if we not provide any value it will print default value

def f3(gender = "c"):
    print(gender)

f3("m")
f3("f")
f3()
f3("m")

m
f
c
m

In [43]:
def avg(a,s,d=5):
    return (a+s+d)/3
    
print(avg(4,5))
# use of default and neccessary argument

4.666666666666667

In [45]:
def f5(a,s,d=5):
    return (a-s+d)/3
    
print(f5(s=4,a=5))
# we can also change position

2.0

In [41]:
def avg(a,s,d=5):
    (a+s+d)/3
print(avg(4,5))

None

In [36]:
def f4(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

f4(fruits)
# whatever the variable passed in a function, it will convert to its defined name; fruits : food

apple
banana
cherry

In [38]:
def f5(x=2):
    return 5*x 
print(f5(4))
print(f5())

20
10

In [39]:
def f6(n):
    if(n>0):
        result = n + f6(n-1)
    else:
        result = 0
    return result

print(f6(10))

55

types of function

In [47]:
# taking variable/parameter, return nothing
def f7(x,y):
    print(x+y)

a=f7(2,4)
print(a)

6
None

In [49]:
# taking variable/parameter, return value
def f7(x,y):
    s=(x+y)
    return s 

a=f7(2,4)
print(a)

6

In [52]:
# not taking variable/parameter return nothing
def f7():
    print("s=(x+y)")
    

a=f7()
print(a)

s=(x+y)
None

In [54]:
# not taking variable/parameter but returning
def f7():
    return "x+y"
    

a=f7()
print(a)

x+y

# Lambda Function

In [58]:
a=lambda x:x*x
print(a(3))
# it is a one liner anonymous function

9

a= lambda x,y: x+y/2
print(a(3,y=2))

In [68]:
def f(fx, value):
    return (value + fx(value))/2

cube= lambda x: x*x*x

print(f(lambda x: x*x,4))

print(f(cube,5))

# passing a function to a function

10.0
65.0

# map

In [97]:
a= (1,2,3,4,5,6,7,8)
q = lambda n: n%2 ==0
b=tuple(map(lambda n: n%2,a))
# print(type(b))
print(b)
# it is a higher order function , which needs input as function: map(f(x),x)
# x can be a whole list,tpl

(1, 0, 1, 0, 1, 0, 1, 0)

# filter

In [99]:
a = (1,2,3,4,5,6,7,8)
b = tuple(filter(lambda x: x>4,a))
print(b)
# it filter out elements based on conditional function : filter(conditional f(x),x)
# x is list or tuple

(5, 6, 7, 8)

In [118]:
def newtpl(a):
    for x in a:
        if x>2:
            b.append(x)

a=[1,2,3,4,5,6,7,8]
b=[]
c= newtpl(a)
print(b)

[3, 4, 5, 6, 7, 8]

# reduce

In [108]:
from functools import reduce
a = [1,2,3,4,5,6,7,8]
b = reduce(lambda x,y:x+y,a)
print(b)
print(len(a))
# reduce function returns single value not list or tuple
# first we have to import it

36
8