In [2]:
s1= {3,4,5,5,4,3,2,6,7,1,True,False,0}
print(s1)
# because 0 and false, 1 and true are same for set
#set does not allow duplicate

{False, 1, 2, 3, 4, 5, 6, 7}

In [4]:
s1 = set(("wewrsf",1,False))
print(s1)
# making set using set word

{False, 1, 'wewrsf'}

In [5]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)
# common structure for list, tuple,set and dict

cherry
banana
apple

In [3]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)
# .add to add new item
# we can update any item like list tuple set and dict

{'banana', 'apple', 'kiwi', 'cherry', 'orange'}

In [12]:
thisset.remove("banana")
print(thisset)
# remove accurs error if item not present in set
thisset.discard("mango")
print(thisset)
# discard does not accurs error if item not present in set

{'orange', 'kiwi', 'cherry'}
{'orange', 'kiwi', 'cherry'}

In [15]:
s1={1,2.3,4,5,6}
s2 = {1,4,5,7,8,9}
s3 = s1.union(s2)
s31 = s1.intersection(s2)
print(s3)
print(s31)
#this union method is just like math set union

{1, 2.3, 4, 5, 6, 7, 8, 9}
{1, 4, 5}

In [14]:
s4={23123,435,546,75676}
s4.update(s3)
print(s4)
# it is for update set

{1, 546, 2.3, 4, 5, 6, 7, 8, 9, 23123, 435, 75676}