In [1]:
# A tuple is a collection which is ordered and unchangeable.
# Tuples are written with round brackets.

In [5]:
t1= ()
print(type(t1))
# empty tuple

<class 'tuple'>

In [6]:
t1= (10,)
print(type(t1))
# one item tuple

<class 'tuple'>

In [7]:
#  tuple can contain different data types:

In [8]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [9]:
# accessing tupple item is same as in list

In [11]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)   #changing tuple into list
print(y)
y.append("orange")
thistuple = tuple(y)  # changing list into tuple
print(thistuple)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry', 'orange')

In [12]:
thistuple = ("apple", "banana", "cherry")
y = (1,)
thistuple += y
print(thistuple)
#can add tuple to a tuple

('apple', 'banana', 'cherry', 1)

In [14]:
y = (1,2,3)
del y
# to delete ehole tuple

In [17]:
t0 = ("ap","xs","gh")
(st,we,fg) = t0   #unpacking of tuple using different variables
print(st)         #printing without comma

ap

In [16]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits  #use of asterik will return rest item in list

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [22]:
t1 = tuple(i for i in range (10,20))
print(t1)
# making tuple using tuple comprehensiv

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [23]:
print(t1*2)    #Multiplying tuple

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)