In [1]:
emptylist = []
print(emptylist)

[]

In [2]:
list = ["apple", "banana", "kivi", "mango"]
print(len(list))
print(type(list))

4
<class 'list'>

In [18]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[1])     # positive indexing starts from zero
print(thislist[-1])    # negative indexing starts from minus one

banana
mango

In [19]:
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [20]:
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [21]:
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [22]:
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [25]:
thislist[4]='grapes'
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'grapes', 'melon', 'mango']

In [27]:
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)
# to change in a range

['apple', 'blackcurrant', 'watermelon', 'orange', 'grapes', 'melon', 'mango']

In [30]:
thislist.append("cherry")
# TO ADD ITEM FROM LAST

In [29]:
thislist.insert(2, "avocado")
print(thislist)
# insert method will not replace any ietm but will add new one to that place

['apple', 'blackcurrant', 'avocado', 'watermelon', 'watermelon', 'orange', 'grapes', 'melon', 'mango']

In [33]:
print(thislist)

['apple', 'blackcurrant', 'avocado', 'watermelon', 'watermelon', 'orange', 'grapes', 'melon', 'mango', 'cherry']

In [36]:
l1 = [i for i in range (50,55)]
l2 = [i for i in range (66,69)]
l1.extend(l2)   # to add item from another list
l1
# extend can also append tuple set dict

[50, 51, 52, 53, 54, 66, 67, 68]

In [51]:
l1 = [50, 51, 52, 53, 54, 66, 67, 68]
r= l1.pop(1)
print(l1)
print(r)
# pop returns value , remove does not

[50, 52, 53, 54, 66, 67, 68]
51

In [38]:
l1.remove(54)
l1

[50, 52, 53, 66, 67, 68]

In [48]:
lst = [45,78,56,89,12,23]
del lst[1:3]
print(lst)
del lst[3]
lst

[45, 89, 12, 23]

[45, 89, 12]

In [52]:
lst.clear()
lst
# clear method remove all element but list remains

[]

In [56]:
lsa = [i for i in range (10,20)]
lsa

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [63]:
lsa = [i for i in range (10,20)]
for i in lsa:
    print(i)
# printing all item using for loop

10
11
12
13
14
15
16
17
18
19

In [64]:
lsa = [i for i in range (10,20)]
x =  0
while x< len(lsa):
    print(lsa[x])
    x= x+1

10
11
12
13
14
15
16
17
18
19

newlist = [expression for item in iterable if condition == True]

In [66]:
# List comprehension offers a shorter syntax when you want to create a new list 
# based on the values of an existing list.

In [67]:
jk= [i for i in range(10,50) if i%2==0]

In [69]:
print(jk)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [70]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [71]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)
# "Return the item if it is not banana, if it is banana return orange".

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [77]:
l3= [23,45,6,7,32,0,100]
l3.sort()
print(l3)
# to sort in ascending

[0, 6, 7, 23, 32, 45, 100]

In [78]:
l3= [23,45,6,7,32,0,100]
l3.sort(reverse = True)
print(l3)
# to sort in descending

[100, 45, 32, 23, 7, 6, 0]

In [80]:
fruits = ["apple", "banana", "cherry", "kiwi", "Mango"]
fruits.sort()
print(fruits)
# capitalized word has more priority

['Mango', 'apple', 'banana', 'cherry', 'kiwi']

In [81]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]

thislist.sort(key = myfunc)

print(thislist)

[50, 65, 23, 82, 100]

In [84]:
fruits = ["apple", "banana", "cherry", "kiwi", "Mango"]
animals = fruits.copy()
print(animals)
# to copy list

['apple', 'banana', 'cherry', 'kiwi', 'Mango']

In [85]:
# we can join list by + operator