In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("imdb-top-1000.csv")
pd.set_option('max_rows',5)

In [3]:
df

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
...,...,...,...,...,...,...,...,...,...,...
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [5]:
df.dtypes

Series_Title      object
Released_Year     object
                  ...
Gross            float64
Metascore        float64
Length: 10, dtype: object

In [6]:
df.Genre.dtypes

dtype('O')

In [7]:
# to change the dtype of column
df.Runtime.astype('float64')

0      142.0
1      175.0
       ...
998     97.0
999     86.0
Name: Runtime, Length: 1000, dtype: float64

## Missing data

Entries missing values are given the value NaN, short for "Not a Number".
For technical reasons these NaN values are always of the float64 dtype.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   int64
 3   Genre          1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   Director       1000 non-null   object
 6   Star1          1000 non-null   object
 7   No_of_Votes    1000 non-null   int64
 8   Gross          1000 non-null   float64
 9   Metascore      843 non-null    float64
dtypes: float64(3), int64(2), object(5)
memory usage: 78.2+ KB

In [9]:
df[pd.isnull(df.Metascore)]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
20,Soorarai Pottru,2020,153,Drama,8.6,Sudha Kongara,Suriya,54995,556832648.0,NaN
54,Ayla: The Daughter of War,2017,125,Biography,8.4,Can Ulkay,Erdem Can,34112,679278040.0,NaN
...,...,...,...,...,...,...,...,...,...,...
909,Celda 211,2009,113,Action,7.6,Daniel Monzón,Luis Tosar,63882,242105549.0,NaN
913,Die Welle,2008,107,Drama,7.6,Dennis Gansel,Jürgen Vogel,102742,924558264.0,NaN

In [53]:
df[df["Metascore"].isnull()]

Empty DataFrame
Columns: [Series_Title, Released_Year, Runtime, Genre, IMDB_Rating, Director, Star1, No_of_Votes, Gross, Metascore]
Index: []

In [16]:
df.Metascore.fillna("nahi melega",inplace = True)

In [24]:
df.loc[df.Metascore=="nahi melega"]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
20,Soorarai Pottru,2020,153,Drama,8.6,Sudha Kongara,Suriya,54995,556832648.0,nahi melega
54,Ayla: The Daughter of War,2017,125,Biography,8.4,Can Ulkay,Erdem Can,34112,679278040.0,nahi melega
...,...,...,...,...,...,...,...,...,...,...
909,Celda 211,2009,113,Action,7.6,Daniel Monzón,Luis Tosar,63882,242105549.0,nahi melega
913,Die Welle,2008,107,Drama,7.6,Dennis Gansel,Jürgen Vogel,102742,924558264.0,nahi melega

In [37]:
df.Runtime.replace("153","ek_so",inplace = True)

In [38]:
df.loc[df.Runtime == "ek_so"]

Empty DataFrame
Columns: [Series_Title, Released_Year, Runtime, Genre, IMDB_Rating, Director, Star1, No_of_Votes, Gross, Metascore]
Index: []

In [39]:
# Create a Series from entries in the IMDB_Rating column, 
# but convert the entries to strings. Hint: strings are str in native Python

In [51]:
df.IMDB_Rating.astype(str)

0      9.3
1      9.2
      ...
998    7.6
999    7.6
Name: IMDB_Rating, Length: 1000, dtype: object

In [54]:
df

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100
...,...,...,...,...,...,...,...,...,...,...
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93

In [67]:
df[['Released_Year','Series_Title']].groupby("Released_Year").size().sort_values(ascending=False)

Released_Year
2014    32
2004    31
        ..
1943     1
1920     1
Length: 100, dtype: int64

In [68]:
df.Released_Year.value_counts().sort_values(ascending=False)

2014    32
2004    31
        ..
1920     1
1930     1
Name: Released_Year, Length: 100, dtype: int64