The Pandas Series can be defined as a one-dimensional array that is capable of storing various data types. We can easily convert the list, tuple, and dictionary into series using "series' method.

In [2]:
# Creating empty series
import pandas as pd
x = pd.Series()
print(x)

Series([], dtype: float64)

C:\Users\DNK133\AppData\Local\Temp/ipykernel_2700/2705264990.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  x = pd.Series()

In [3]:
# Creating Series from Array:
import numpy as np
x=np.array(['P','a','n','d','a','s'])
y = pd.Series(x)
y

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [5]:
# Creating Series from Dict:
# Key as index
info = {'x' : 0., 'z' : 1., 'y' : 2.}  
s = pd.Series(info)
s

x    0.0
z    1.0
y    2.0
dtype: float64

In [8]:
# Create a Series using Scalar:
# the index must be provided
s = pd.Series(5,index=[1,2,3,9,5])
s

1    5
2    5
3    5
9    5
5    5
dtype: int64

In [9]:
s[9]

5

In [13]:
s.index

Int64Index([1, 2, 3, 9, 5], dtype='int64')

In [15]:
s.values

array([5, 5, 5, 5, 5], dtype=int64)

In [16]:
s.size

5

In [17]:
s.shape

(5,)

In [22]:
y.values.itemsize

8

In [23]:
s.hasnans

False

In [24]:
s.empty

False

# Series.map()

The main task of map() is used to map the values from two series that have a common column. To map the two Series, the last column of the first Series should be the same as the index column of the second series, and the values should be unique.

In [26]:
data = pd.DataFrame({"power_level": [12000, 16000, 4000, 1500, 3000, 
                                     2000, 1600, 2000],
                     "uniform color": ["orange", "blue", "black", "orange",
                                       "purple", "green", "orange", "orange"],
                     "species": ["saiyan","saiyan","saiyan","half saiyan",
                                 "namak","human","human","human"]}, 
                     index = ["Goku","Vegeta", "Nappa","Gohan",
                                   "Piccolo","Tien","Yamcha", "Krillin"])
data

         power_level uniform color      species
Goku           12000        orange       saiyan
Vegeta         16000          blue       saiyan
Nappa           4000         black       saiyan
Gohan           1500        orange  half saiyan
Piccolo         3000        purple        namak
Tien            2000         green        human
Yamcha          1600        orange        human
Krillin         2000        orange        human

In [29]:
def my_function(x):
     if x > 10000:
        return("high")
     if x > 2000:
        return("med")
     return ("low")

# working of map function
data["power_level"].map(my_function)

Goku       high
Vegeta     high
Nappa       med
Gohan       low
Piccolo     med
Tien        low
Yamcha      low
Krillin     low
Name: power_level, dtype: object

In [33]:
x= pd.Series(["sant","pro","jay",np.nan])
y = {'sant': 'yadav'}
x.map(y)

0    yadav
1      NaN
2      NaN
3      NaN
dtype: object

In [37]:
x.map('{} is smart'.format,na_action='ignore')

0    sant is smart
1     pro is smart
2     jay is smart
3              NaN
dtype: object

In [38]:
x.map('{} is smart'.format)

0    sant is smart
1     pro is smart
2     jay is smart
3     nan is smart
dtype: object

Standard daviation

In [40]:
data['power_level'].std()

5558.246768798336

Series is defined as a type of list that can hold an integer, string, double values, etc

Series can only contain a single list with a particular index, whereas the DataFrame is a combination of more than one series that can analyze the data

In [41]:
data = np.array([1,2,3,4,5])
s = pd.Series(data)
s.to_frame

<bound method Series.to_frame of 0    1
1    2
2    3
3    4
4    5
dtype: int32>

In [56]:
#crating a data frame :)

emp=['sant','pro','jay','sanket','rahul']
id = [12,34,5,68,5]
e=pd.Series(emp)
i=pd.Series(id)
frame = {'emp':e,'id':i}
f = pd.DataFrame(frame)
f

      emp  id
0    sant  12
1     pro  34
2     jay   5
3  sanket  68
4   rahul   5

In [65]:
f.value_counts(id)

5     2
68    1
34    1
12    1
dtype: int64

In [61]:
f.value_counts(id,normalize=True)

5     0.4
68    0.2
34    0.2
12    0.2
dtype: float64