Extract insights from your data.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("imdb-top-1000.csv")

# Summary functions

In [3]:
df.describe()

           Runtime  IMDB_Rating   No_of_Votes         Gross   Metascore
count  1000.000000  1000.000000  1.000000e+03  1.000000e+03  843.000000
mean    122.891000     7.949300  2.736929e+05  1.282781e+08   77.971530
std      28.093671     0.275491  3.273727e+05  2.011110e+08   12.376099
min      45.000000     7.600000  2.508800e+04  1.305000e+03   28.000000
25%     103.000000     7.700000  5.552625e+04  5.012919e+06   70.000000
50%     119.000000     7.900000  1.385485e+05  3.953432e+07   79.000000
75%     137.000000     8.100000  3.741612e+05  1.615997e+08   87.000000
max     321.000000     9.300000  2.343110e+06  9.366622e+08  100.000000

In [4]:
df.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

In [5]:
df.Runtime.describe()

count    1000.000000
mean      122.891000
std        28.093671
min        45.000000
25%       103.000000
50%       119.000000
75%       137.000000
max       321.000000
Name: Runtime, dtype: float64

In [6]:
df.Series_Title.describe()

count         1000
unique         999
top       Drishyam
freq             2
Name: Series_Title, dtype: object

In [7]:
df.Director.describe()

count                 1000
unique                 548
top       Alfred Hitchcock
freq                    14
Name: Director, dtype: object

In [8]:
df.Gross.mean()

128278074.841

In [9]:
df.Gross.mode()

0    4360000.0
dtype: float64

In [10]:
df.Gross.median()

39534321.0

In [11]:
df.IMDB_Rating.unique()

array([9.3, 9.2, 9. , 8.9, 8.8, 8.7, 8.6, 8.5, 8.4, 8.3, 8.2, 8.1, 8. ,
       7.9, 7.8, 7.7, 7.6])

In [12]:
# To see a list of unique values and how often they occur in the dataset, 
# we can use the value_counts() method
df.Director.value_counts()

Alfred Hitchcock    14
Steven Spielberg    13
Hayao Miyazaki      11
Akira Kurosawa      10
Martin Scorsese     10
                    ..
Merian C. Cooper     1
Vishal Bhardwaj      1
Lewis Milestone      1
Michael Cimino       1
Hirokazu Koreeda     1
Name: Director, Length: 548, dtype: int64

# Map

In [13]:
df.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

In [14]:
print(df.Runtime.mean())
runtime_map=df.Runtime.mean()
df.Runtime.map(lambda r:r-runtime_map)

122.891

0      19.109
1      52.109
2      29.109
3      79.109
4     -26.891
        ...
995    -7.891
996    78.109
997    -4.891
998   -25.891
999   -36.891
Name: Runtime, Length: 1000, dtype: float64

In [15]:
print(df.Series_Title.max())

Ôkami kodomo no Ame to Yuki

In [16]:
Series_Title_map=df.Series_Title.max()
df.Series_Title.map(lambda s:s + Series_Title_map)

0      The Shawshank RedemptionÔkami kodomo no Ame to...
1               The GodfatherÔkami kodomo no Ame to Yuki
2             The Dark KnightÔkami kodomo no Ame to Yuki
3      The Godfather: Part IIÔkami kodomo no Ame to Yuki
4                12 Angry MenÔkami kodomo no Ame to Yuki
                             ...
995    Breakfast at Tiffany'sÔkami kodomo no Ame to Yuki
996                     GiantÔkami kodomo no Ame to Yuki
997     From Here to EternityÔkami kodomo no Ame to Yuki
998                  LifeboatÔkami kodomo no Ame to Yuki
999              The 39 StepsÔkami kodomo no Ame to Yuki
Name: Series_Title, Length: 1000, dtype: object

In [17]:
# to change in data frame in col
sa = pd.Series(['a',123,'abc',678])
# sa.map({123:'thakur'})
#will return for not found key,to avoid this
sa.map({123:'thakur'})

0       NaN
1    thakur
2       NaN
3       NaN
dtype: object

In [18]:
df.Director.map("Dircted by {}".format)

0            Dircted by Frank Darabont
1      Dircted by Francis Ford Coppola
2         Dircted by Christopher Nolan
3      Dircted by Francis Ford Coppola
4              Dircted by Sidney Lumet
                    ...
995           Dircted by Blake Edwards
996          Dircted by George Stevens
997          Dircted by Fred Zinnemann
998        Dircted by Alfred Hitchcock
999        Dircted by Alfred Hitchcock
Name: Director, Length: 1000, dtype: object

In [19]:
# Note that map() and apply() return new, transformed Series.
# They don't modify the original data they're called on

## Apply

In [20]:
# it works on one col or row
def Upper(text):
    return text.upper()

df.Series_Title.apply(Upper) #or
# df["Series_Title"].apply(Upper)

0      THE SHAWSHANK REDEMPTION
1                 THE GODFATHER
2               THE DARK KNIGHT
3        THE GODFATHER: PART II
4                  12 ANGRY MEN
                 ...
995      BREAKFAST AT TIFFANY'S
996                       GIANT
997       FROM HERE TO ETERNITY
998                    LIFEBOAT
999                THE 39 STEPS
Name: Series_Title, Length: 1000, dtype: object

In [67]:
# apply map works on each row and col also in specified region
def Upper(text):
    return str(text) + "_2023"

df[:2].applymap(Upper)
# df.applymap(Upper)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore,point
0,The Shawshank Redemption_2023,1994_2023,142_2023,Drama_2023,9.3_2023,Frank Darabont_2023,Tim Robbins_2023,2343110_2023,28341469.0_2023,80.0_2023,21086052936.0_2023
1,The Godfather_2023,1972_2023,175_2023,Crime_2023,9.2_2023,Francis Ford Coppola_2023,Marlon Brando_2023,1620367_2023,134966411.0_2023,100.0_2023,124169098119.99998_2023

In [22]:
# Pandas provides many common mapping operations as built-ins. 
# For example, here's a faster way of remeaning our points column:

df.IMDB_Rating - df.IMDB_Rating.mean()

0      1.3507
1      1.2507
2      1.0507
3      1.0507
4      1.0507
        ...
995   -0.3493
996   -0.3493
997   -0.3493
998   -0.3493
999   -0.3493
Name: IMDB_Rating, Length: 1000, dtype: float64

In [23]:
# an easy way of combining country and 
# region information in the dataset would be to do the following:
(df.Series_Title+"-"+df.Star1).to_frame()

# to.frame() to conver series into dataframe

                                         0
0     The Shawshank Redemption-Tim Robbins
1              The Godfather-Marlon Brando
2           The Dark Knight-Christian Bale
3         The Godfather: Part II-Al Pacino
4                 12 Angry Men-Henry Fonda
..                                     ...
995  Breakfast at Tiffany's-Audrey Hepburn
996                 Giant-Elizabeth Taylor
997   From Here to Eternity-Burt Lancaster
998             Lifeboat-Tallulah Bankhead
999              The 39 Steps-Robert Donat

[1000 rows x 1 columns]

In [24]:
# What countries are represented in the dataset?
# (Your answer should not include any duplicates.)
df.head(2)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0

In [25]:
df.Genre.describe()

count      1000
unique       14
top       Drama
freq        289
Name: Genre, dtype: object

In [51]:
# list of movies with highest point by imdb rating*gross*metascore

point = df.IMDB_Rating*df.Gross*df.Metascore
df["point"] = point
df.set_index("point").sort_values(by=["point"],ascending=False).head(20)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
point,,,,,,,,,,
6.200879e+11,Jules et Jim,1962,105,Drama,7.8,François Truffaut,Jeanne Moreau,37605,819571597.0,97.0
6.103195e+11,Bonnie and Clyde,1967,111,Action,7.8,Arthur Penn,Warren Beatty,102415,909838190.0,86.0
5.919705e+11,Star Wars: Episode VII - The Force Awakens,2015,138,Action,7.9,J.J. Abrams,Daisy Ridley,860823,936662225.0,80.0
5.814235e+11,Det sjunde inseglet,1957,96,Drama,8.2,Ingmar Bergman,Max von Sydow,164939,805742063.0,88.0
5.624060e+11,Avengers: Endgame,2019,181,Action,8.4,Anthony Russo,Joe Russo,809955,858373000.0,78.0
5.570043e+11,Kurenai no buta,1992,94,Animation,7.7,Hayao Miyazaki,Shûichirô Moriyama,77798,871544815.0,83.0
5.246456e+11,Stalag 17,1953,120,Comedy,8.0,Billy Wilder,William Holden,51046,780722628.0,84.0
5.123661e+11,The Trial of the Chicago 7,2020,129,Drama,7.8,Aaron Sorkin,Eddie Redmayne,89896,853090410.0,77.0
5.106673e+11,Love and Death,1975,85,Comedy,7.7,Woody Allen,Woody Allen,36037,745173387.0,89.0
5.052570e+11,Cape Fear,1962,106,Drama,7.7,J. Lee Thompson,Gregory Peck,26457,863391987.0,76.0
5.051502e+11,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
5.034358e+11,Who's Afraid of Virginia Woolf?,1966,131,Drama,8.0,Mike Nichols,Elizabeth Taylor,68926,839059631.0,75.0
4.923526e+11,Avatar,2009,162,Action,7.8,James Cameron,Sam Worthington,1118998,760507625.0,83.0
4.825648e+11,Togo,2019,113,Adventure,8.0,Ericson Core,Willem Dafoe,37556,874211619.0,69.0
4.761151e+11,The Elephant Man,1980,124,Biography,8.1,David Lynch,Anthony Hopkins,220078,753585104.0,78.0
4.685253e+11,Zulu,1964,138,Drama,7.7,Cy Endfield,Stanley Baker,35999,790226546.0,77.0
4.594551e+11,Network,1976,121,Drama,8.1,Sidney Lumet,Faye Dunaway,144911,683407829.0,83.0
4.467343e+11,Tenkû no shiro Rapyuta,1986,125,Animation,8.0,Hayao Miyazaki,Mayumi Tanaka,150140,715920290.0,78.0
4.268542e+11,Judgment at Nuremberg,1961,179,Drama,8.2,Stanley Kramer,Spencer Tracy,69458,867589901.0,60.0
4.202303e+11,Victoria,2015,138,Crime,7.6,Sebastian Schipper,Laia Costa,52903,718096942.0,77.0

In [61]:
df.Genre.sort_values(ascending=False).head(20)

48      Western
115     Western
691     Western
12      Western
700    Thriller
420     Mystery
220     Mystery
119     Mystery
961     Mystery
959     Mystery
69      Mystery
829     Mystery
393     Mystery
899     Mystery
714     Mystery
145     Mystery
81      Mystery
876      Horror
844      Horror
75       Horror
Name: Genre, dtype: object